body{
    background-image: url("../Img/mas\ te\ valia.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}